
*{
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background:#fdfcfc;
}

nav{
    background: white;
    padding-top: 10px;
}
nav:after{
    content: '';
    clear: both;
    display: table;
}
nav .logo{
    float: left;
}
nav .logo img {
    width: 140px;
    padding-left: 10px;
}
nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}
nav ul li{
    /* float: left; */
    display: inline-block;
    background: #ffffff;
    margin: 0 5px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}
nav ul ul{
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
nav ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}
nav ul ul li{
    position: relative;
    margin: 0;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(235, 229, 229, 0.5);
}
nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 151px;
    width: 250px;
}
nav ul li a:hover{
    color: rgb(7, 179, 7);
    transition: font-size 0.2s;
}
nav img {
    transform: scale(1.03);
    opacity: 0.9;
    transition: opacity 0.4s, transform 0.4s;
}

nav img:hover {
    transform: scale(1.10);
    opacity: 1;
}
.show,.icon,input{
    display: none;
}
@media all and (max-width:968px) {
nav ul{
    margin-right: 0px;
    float: left;
}
nav .logo{
    padding-left: 20px;
    width: 100%;
}
nav ul li, nav ul ul li{
    display: block;
    width: 100%;
}
nav ul ul{
    top: 70px;
    position: static;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
}
nav ul ul ul li{
    position: static;
}
nav ul ul a{
    padding-left: 20px;
}
nav ul ul ul a{
    padding-left: 40px;
}
.show{
    display: block;
    color: black;
    font-size: 18px;
    padding: 0 15px;
    line-height: 70px;
    cursor: pointer;
}
.show:hover{
    color: rgb(7, 179, 7);
}
.icon{
    display: block;
    color: black;
    position: absolute;
    right: 40px;
    line-height: 70px;
    font-size: 25px;
    cursor: pointer;
}
.show + a, ul{
    display: none;
}
[id^=btn]:checked + ul{
    display: block;
}
}

.fa-plus:hover{
    color: rgb(7, 179, 7);
    font-size: 18.3px;
    transition: font-size 0.2s;
}

/* in the body contents */


.card-contents > p:first-of-type{
    margin-top: 0;
}

.card-contents > p:last-of-type{
    margin-bottom: 0;
}
.card-link{
    color: #64968c;
    text-decoration: none;
}
.card-link:hover{
    text-decoration: underline;
    color: lightseagreen;
}
.card img{
    transform: scale(1);
    transition: opacity 0.4s, transform 0.4s;
}
.card img:hover{
    transform: scale(1.02);
}


aside {
  display: block;
  position: relative;
  margin: 40px 0;
}

aside h3 {
  font: bold 18px Sans-Serif;
  color: rgb(0, 0, 0);
}


/* for the footer */
footer{
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    color: black;
    background: #f2f2f2;
}

.footer > *{
    flex: 1 100%;
}

.nav-footer .links{
    float: right;
    padding: 40px;
    padding-right: 300px;
}
/* 
.footer-left{
    margin-right: 10;
    margin-bottom: 2em;
} */

.footer img{
    width: 15%;
    transform: scale(1);
    transition: transform 0.5s;
}

.footer img:hover{
    transform: scale(1.1);
}

.footer h2{
    font-weight: 600;
    font-size: 17px;
}

.footer ul{
    list-style: none;
    padding-left: 0;
}

.footer li{
    line-height: 2em;
}

.footer a{
    text-decoration: none;
    color: rgb(13, 184, 90);
}
.footer a:hover{
    color: rgb(3, 237, 225);
}

.footer-right  {
    display: flex;
    flex-flow: row wrap;
}

.footer-right > *{
    flex: 1 50%;
    margin-right: 1.25em;
    padding: 20px;
}

.footer-bottom{
    text-align: center;
    color: black;
}

.footer-left p{
    padding-right: 20%;
    color: black;
}

.socials a{
    background: #026df0;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.socials a:hover{
    background: rgb(39, 31, 31);
}

.socials a i{
    color: #e7f2f4;
    padding: 10px 12px;
    font-size: 20px;
}
/* 
.links{
    text-align: center;
} */
.links ul li{
        /* float: left; */
        display: inline-block;
        margin: 0 5px;

}

.footer-right > *{
    flex: 1;
}












