.heading{
    text-align: center;
}

.card{
    display: inline-block;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: arial, sans-serif;
    color: white;
    cursor: pointer;
}

.beer{
    background-color: green;
}

.soda{
    background-color: gray;
}

.heineken{
    background-color: lightseagreen;
}

.club{
    background-color: lightslategray;
}

.navbar{
    background-color: black;
    overflow: hidden;
}

.navbar a{
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover{
    background-color: rgb(106, 255, 0);
    color: rgb(0, 0, 0);
}

.navbar .active{
    background-color: green;
    color: black;
}

footer{
    background-color: black;
    color: white;
    overflow: hidden;
    padding: 14px 16px;
    text-align: center;
}